body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:705px;
  height:930px;
}
#u1137_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:930px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:1056px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:1056px;
  display:flex;
}
#u1138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:140px;
  width:75px;
  height:25px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1139 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1137_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:930px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1137_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:1060px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:1060px;
  display:flex;
}
#u1141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:140px;
  width:75px;
  height:25px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1142 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1143 {
  position:fixed;
  left:50%;
  margin-left:-360px;
  bottom:0px;
  width:720px;
  height:45px;
}
#u1143_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:45px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:45px;
  display:flex;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(56, 175, 113, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:18px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:10px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Noto Sans KR Bold', 'Noto Sans KR Regular', 'Noto Sans KR', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:18px;
}
#u1145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
